In [1]:
import numpy as np
import pandas as pd

In [46]:
# setting a fixed seed
np.random.seed(101)

# creating 4 features with floating point value
data = np.random.random(4*100).reshape((100,4))*10
columns = ["Feature"+str(i) for i in range(1,5)]
df = pd.DataFrame(data = data, columns = columns)

# creating 1 feature with binary value
df["Feature5"]=np.random.randint(0,2,(100,1))

# saving dataframe into csv file
df.to_csv("RandomDataSet.csv", index=False)
df.head()

   Feature1  Feature2  Feature3  Feature4  Feature5
0  5.163986  5.706676  0.284742  1.715217         1
1  6.852770  8.338969  3.069662  8.936131         0
2  7.215439  1.899390  5.542276  3.521320         1
3  1.818924  7.856018  9.654832  2.323537         1
4  0.835614  6.035484  7.289928  2.762388         0

In [47]:

# reading the created RandomDataSet.csv
df = pd.read_csv('RandomDataSet.csv')

In [41]:
df.head()

   Feature1  Feature2  Feature3  Feature4  Feature5
0  5.163986  5.706676  0.284742  1.715217         1
1  6.852770  8.338969  3.069662  8.936131         0
2  7.215439  1.899390  5.542276  3.521320         1
3  1.818924  7.856018  9.654832  2.323537         1
4  0.835614  6.035484  7.289928  2.762388         0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
Feature1    100 non-null float64
Feature2    100 non-null float64
Feature3    100 non-null float64
Feature4    100 non-null float64
Feature5    100 non-null int64
dtypes: float64(4), int64(1)
memory usage: 4.0 KB

In [43]:
df.describe()

         Feature1    Feature2    Feature3    Feature4    Feature5
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     5.252692    5.121509    5.155509    5.061811    0.420000
std      2.880406    2.720074    3.031292    2.855842    0.496045
min      0.096083    0.011887    0.010441    0.116206    0.000000
25%      2.932417    2.878726    2.548526    2.681401    0.000000
50%      5.266134    4.977745    5.755471    5.040514    0.000000
75%      7.438497    7.315477    7.624659    7.403820    1.000000
max      9.922243    9.976490    9.826532    9.984043    1.000000